c-body-bg               = #eee
c-Item-border           = whitesmoke
c-ItemForm-bg           = whitesmoke
c-Board-bg              = #fff
c-Board-border          = #ddd
c-EditableHeading-edit  = dodgerblue